/*LISTAS ORDENADAS*/

/*LISTA ORDENADA General*/

#actividad .content .texto_curso .bck-ol li,
#actividad .popover-content .bck-ol li,
#actividad .content .workspace ul li .bck-ol li {
   list-style-type: none;
   counter-increment: bck-li-counter 1;
   position: relative;
  
}

#actividad .content .cke_contents .bck-ol li:before,
#actividad .content .texto_curso .bck-ol li:before,
#actividad .popover-content .bck-ol li:before,
#actividad .content .workspace ul li .bck-ol li:before {
   content: counter(bck-li-counter);
   position: relative;
   text-align: center;
   font-size: 1.9rem;
   font-family: sans-serif;
   margin-left: -10px;
   font-weight: 800;
}

#actividad .content .cke_contents .bck-ol li {
   margin-left: 0px;
}


/*LISTA OrdenadaPrincipal*/
#actividad .content .cke_contents .bck-ol-1,
#actividad .content .texto_curso .bck-ol-1,
#actividad .content .workspace ul li .bck-ol-1 {
   list-style-type: none;
   counter-reset: bck-li-counter;
}

#actividad .content .cke_contents .bck-ol-1 li,
#actividad .content .cke_contents .bck-ol-1 li,
#actividad .content .texto_curso .bck-ol-1 li,
#actividad .popover-content .bck-ol-1 li,
#actividad .content .workspace ul li .bck-ol-1 li {
   counter-increment: bck-li-counter;
   padding-left: 0px;
   position: relative;
   z-index: 0;
   font-weight: 700;
   margin-left: 0px;
   margin-top: 10px;
}


#actividad .content .cke_contents .bck-ol-1 li:before,
#actividad .content .texto_curso .bck-ol-1 li:before,
#actividad .popover-content .bck-ol-1 li:before,
#actividad .content .workspace ul li .bck-ol-1 li:before {
   content: counter(bck-li-counter);
   width: 26px;
   height: auto;
   position: absolute;
   color: #ffffff;
   background: #ec6608;
   margin-left: -30px;
   margin-right: 0px;
   border-radius: 100%;
   text-align: center;
   font-size: 1.8rem;
   font-family: BauhausStd-Demi;
   font-weight: normal;
}

/*ESTILO LUMBRERAS*/
.content_type_clase_fancy #actividad .content .header{
   background: transparent;
}



.content ol li, .cke_contents ol li{
   font-size: 1.6rem;
}

.content ol li:before, 
.cke_contents ol li:before{
   content: counter(bck-li-counter)' ';
    position: absolute;
    margin-left: -30px;
    font-weight: bold;
    font-size: 2.0rem;
    text-align: center;
    background: #D91C5C;
    border-radius: 54px;
    height: 30px;
    margin-top: -2px;
    width: 30px;
    color: #ffff;
    padding-top: 3px;
    left: 20px;   
}

#actividad .workspace.test .respuestas li{
   width: 100%;
}

/*lista des*/
.texto_curso ul li:before, 
.workspace ul li ul li:before, 
.cke_contents ul li:before{
   height: 30px;
    width: 30px;
    left: 13px;
    margin-top: -3px;
    margin-left: -18px;
    background-repeat: no-repeat;
    background-color: transparent;
    background-image: url(https://admin.blinklearning.com/useruploads/r/a/118769716/activity_other_imported/icono_lista_des.png);
}

.texto_curso ul li, 
.workspace ul li ul li, 
.cke_contents ul li{
   position: relative;
   padding-left: 32px;
   margin-bottom: 20px;
}
/*numeración pag. top*/
.js-slide-wrapper > .header .single-pagination{
       display: none;
}



/*LISTA Ordenada letras*/
#actividad .content .cke_contents .bck-ol-2,
#actividad .content .texto_curso .bck-ol-2,
#actividad .content .workspace ul li .bck-ol-2 {
   list-style-type: none;
   counter-reset: bck-li-counter;
}

#actividad .content .cke_contents .bck-ol-2 li,
#actividad .content .cke_contents .bck-ol-2 li,
#actividad .content .texto_curso .bck-ol-2 li,
#actividad .popover-content .bck-ol-2 li,
#actividad .content .workspace ul li .bck-ol-2 li {
   counter-increment: bck-li-counter;
   padding-left: 0px;
   position: relative;
   z-index: 0;
   margin-left: 0px;
   margin-top: 10px;
   padding-left: 23px;
}

#actividad .content .cke_contents .bck-ol-2 li:before,
#actividad .content .texto_curso .bck-ol-2 li:before,
#actividad .popover-content .bck-ol-2 li:before,
#actividad .content .workspace ul li .bck-ol-2 li:before {
   content: counter(bck-li-counter, upper-alpha) ") ";
    position: absolute;
    margin-left: -30px;
    font-weight: bold;
    font-size: 1.6rem;
    text-align: center;
    margin-top: -2px;
    color: #555;
    padding-top: 3px;
    left: 20px;
    background-color: transparent;
}

/*LISTA Ordenada azul*/
#actividad .content .cke_contents .bck-ol-3,
#actividad .content .texto_curso .bck-ol-3,
#actividad .content .workspace ul li .bck-ol-3 {
   list-style-type: none;
   counter-reset: bck-li-counter;
}

#actividad .content .cke_contents .bck-ol-3 li,
#actividad .content .cke_contents .bck-ol-3 li,
#actividad .content .texto_curso .bck-ol-3 li,
#actividad .popover-content .bck-ol-3 li,
#actividad .content .workspace ul li .bck-ol-3 li {
   counter-increment: bck-li-counter;
   padding-left: 0px;
   position: relative;
   z-index: 0;
   margin-left: 0px;
   margin-top: 10px;
   padding-left: 32px;
}

#actividad .content .cke_contents .bck-ol-3 li:before,
#actividad .content .texto_curso .bck-ol-3 li:before,
#actividad .popover-content .bck-ol-3 li:before,
#actividad .content .workspace ul li .bck-ol-3 li:before {
   content: counter(bck-li-counter)'.';
    position: absolute;
    margin-left: -30px;
    font-weight: bold;
    font-size: 2.2rem;
    text-align: center;
    color: #0B4EA2;
    padding-top: 3px;
    left: 20px;
    top: -3px;
    font-family: 'Playfair Display', serif;
    background-color: transparent;
}



/*titulo acti*/
.content_type_clase_modern #actividad .content .header .title h3{
   color:#D91C5C;
}


/*IMAGEN AUX.*/
#actividad .carousel-inner .item-container.aux-fullscreen.is-small:not(.is-bottom):not(.is-top) .class_slide, 
#actividad .carousel-inner .item-container.aux-bckg.is-small:not(.is-bottom):not(.is-top) .class_slide{
   padding-bottom: 40px;
}

.content_type_clase_modern .logo-publisher{
   background-image: url(https://admin.blinklearning.com/useruploads/r/a/118783326/activity_other_imported/logo_lumbreras.png);
}

.content_type_clase_modern .publisher-navbar .dropdown button{
   display: NONE;
}

.content_type_clase_modern .slider-indicators li.active, .content_type_clase_modern .publisher-navbar li:hover{
   color: rgb(217,28,92);
    border-bottom: 1px solid rgb(217,28,92);
    border-radius: 0;
    font-weight: bold;
    font-size: 2.5rem;
    background: rgba(255,255,255,.15);
}

}

.content_type_clase_modern .publisher-navbar .dropdown button, .content_type_clase_modern .publisher-navbar li{
   background-color: transparent;
    color: #37649d;
    vertical-align: middle;
    margin: 0px 5px;
    text-indent: 0px;
    line-height: 3.5rem;
    font-size: 2.3rem;
    font-weight: 600;
    cursor: pointer;
    opacity: 1;
}


/*actividades test*/
#actividad .workspace.test .respuestas li{
   width: 100%;
}
